*::-webkit-input-placeholder {
	color: #464645;
	opacity: 1;
}
*:-moz-placeholder {
	color: #464645;
	opacity: 1; 
}
*::-moz-placeholder {
	color: #464645;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #464645;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'TTNorms';
	font-size: 14px;
	line-height: 21px;
	color: #000;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 100px;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	transition: all 0.3s;
	background-color: #fff;
}
.logo {
	display: inline-block;
}
.logo img {
	width: 120px;
	height: auto;
}
.header__top {
	text-align: center;
	padding: 5px 15px;
	font-weight: 500;
	color: #fff;
	background: #262626;
}
.header__top a {
	color: #fff;
	border-bottom: 1px solid #fff;
	transition: all 0.3s;
}
.header__top a:hover {
	border-color: transparent;
}
.header__wrap {
	padding: 15px 0;
	display: flex;
	align-items: center;
}
.menu {
	flex: 1;
	margin-left: 210px;
	margin-right: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu a {
	text-transform: uppercase;
	font-weight: 500;
	color: #807F7D;
	transition: all 0.3s;
	border-bottom: 1px solid transparent;
}
.menu a:hover {
	color: #262626;
	border-color: #262626;
}
.menu__special a {
	color: #262626;
}
.btn-header {
	font-weight: 500;
	margin-left: 15px;
	color: #262626;
	display: inline-flex;
	align-items: center;
}
.btn-header img {
	margin-right: 6px;
}
.btn-quit {
	font-weight: 500;
	font-size: 9px;
	line-height: 11px;
	margin-left: 20px;
	text-transform: uppercase;
	color: #908F8D;
	display: inline-flex;
	align-items: center;
}
.btn-quit img {
	margin-left: 3px;
}
.slider-billbord__image {
	min-height: 450px;
	height: calc(100vh - 101px);
}
.slider-billbord__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-billbord__item {
	color: #fff;
	text-align: center;
	position: relative;
}
.slider-billbord__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.title-big {
	font-size: 48px;
	line-height: 72px;
	font-weight: 500;
}
.title-big strong {
	font-size: 64px;
	line-height: 96px;
}
.btn-main {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	height: 44px;
	padding: 0 36px;
	color: #fff;
	background-color: #262626;
	border: none;
	font-family: 'TTNorms';
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.btn-main:hover {
	background-color: #000;
	color: #fff;
}
.btn-main_page {
	font-size: 16px;
	color: #000;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.btn-main_page:hover {
	color: #000;
	background: rgba(255, 255, 255, 1);
}
.descr-min {
	font-size: 12px;
	line-height: 14px;
}
.slider-billbord .title-big {
	margin-bottom: 62px;
}
.slider-billbord .descr-min {
	margin-bottom: 10px;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 8px;
	height: 8px;
}
.slick-dots li button {
	width: 8px;
	height: 8px;
	border: 1px #fff solid;
	background-color: #fff;
	transition: all 0.3s;
	padding: 0;
	border-radius: 0;
}
.slick-dots li button:focus,
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: #464645;
}
.slider-billbord .slick-dots {
	bottom: 55px;
}
.form-search {
	height: 33px;
	width: 33px;
	position: relative;
	cursor: pointer;
	transition: all 0.3s;
}
.form-search input {
	font-size: 14px;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;	
	color: #383838;
	background-color: transparent;
	opacity: 0;
	z-index: 2;
	border-radius: 0px;
	transition: all 0.3s;
	cursor: pointer;
	font-family: 'TTNorms';
}
.form-search input:focus {
	width: 750px;
	padding: 0 20px;
	padding-right: 35px;
	border-bottom: 1px solid #C4C4C4;
	background-color: #fff;
	opacity: 1;
}
.search-btn {
	font-size: 16px;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	transition: all 0.3s;
	background-color: transparent;
	color: #262626;
	border-radius: 50%;
}
.form-search input:focus + .search-btn i::before {
	content: "\f00d";
	font-weight: 300;
}
.form-search input:focus + .search-btn {
	z-index: 4;
}
.form-search input::-webkit-input-placeholder {
	color: #383838;
	opacity: 1;
}
.form-search input:-moz-placeholder {
	color: #383838;
	opacity: 1;
}
.form-search input::-moz-placeholder {
	color: #383838;
	opacity: 1;
}
.form-search input:-ms-input-placeholder {
	color: #383838;
	opacity: 1;
}
.title-section {
	font-size: 18px;
	line-height: 21px;
	padding-bottom: 5px;
	font-weight: 500;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
}
.head-section {
	padding: 60px 0;
	text-align: center;
}
.link-page {
	font-size: 14px;
	line-height: 17px;
	border-bottom: 1px solid #000;
	color: #000000;
	transition: all 0.3s;
}
.link-page:hover {
	border-color: transparent;
}
.item-catalog {
	margin-bottom: 55px;
	position: relative;
	text-align: center;
}
.item-catalog__image {
	height: 280px;
	margin-bottom: 11px;
	display: block;
	position: relative;
}
.item-catalog__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-catalog__title {
	font-weight: 500;
	margin-bottom: 4px;
	color: #000;
	display: block;
}
.item-catalog__name {
	margin-bottom: 4px;
	font-weight: 300;
	color: #000;
	display: block;
}
.btn-like {
	font-size: 16px;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
	background-image: url(../img/heart.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	color: #353535;
}
.btn-like::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/heart_active.svg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: all 0.3s;
}
.btn-like:hover {
	background-color: #EBEBEB;
}
.btn-like.active::after {
	opacity: 1;
}
.btn-like.active i {
	font-weight: 700;
}
.item-catalog .btn-like {
	top: 5px;
	right: 5px;
	position: absolute;
	opacity: 0;
	z-index: 2;
	transition: all 0.3s;
}
.item-catalog:hover .wrap-sizes,
.item-catalog .btn-like.active,
.item-catalog:hover .btn-like {
	opacity: 1;
}
.wrap-sizes {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	bottom: 0;
	left: 0;
	font-size: 12px;
	text-transform: uppercase;
	width: 100%;
	color: #000000;
	font-family: "Roboto";
	position: absolute;
	opacity: 0;
	transition: all 0.3s;
	flex-wrap: wrap;
	border: 1px solid #E1E1E1;
}
.size-item {
	width: 25%;
	margin-bottom: -1px;
	border-right: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	color: #000000;
}
.size-item:nth-child(-n+4) {
	border-top: none;
}
.size-item:nth-child(4n+4) {
	border-right: none;
}
.col-main {
	width: 20%;
	padding: 0 15px;
}
.price-old {
	text-decoration-line: line-through;
	margin-bottom: 4px;
	color: #807F7D;
}
.item-news__image {
	height: 364px;
	margin-bottom: 20px;
	width: 100%;
	display: block;
	overflow: hidden;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.item-news:hover .item-news__image img {
	transform: scale(1.06);
}
.item-news__title {
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 14px;
	width: 100%;
	display: block;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}
.item-news {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-news__bottom {
	padding-top: 22px;
	text-align: right;
	width: 100%;
	margin-top: auto;
}
.row_news {
	margin: 0 -32px;
	margin-bottom: 20px;
}
.row_news > div {
	padding: 0 32px;
	margin-bottom: 60px;
}
.item-catalog-big {
	display: block;
}
.item-catalog-big__image {
	height: 740px;
	margin-bottom: 20px;
	position: relative;
	display: block;
}
.item-catalog-big__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-catalog-big__title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	display: block;
	color: #000;
}
.item-catalog-big__content {
	padding-top: 66px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
}
.item-catalog-big__name {
	font-size: 48px;
	padding: 0 51px;
	line-height: 72px;
	margin-bottom: 40px;
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
	border: 3px solid #FFFFFF;
}
.item-catalog-big__descr {
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	text-transform: uppercase;
}
.bottom-link {
	text-align: right;
}
.row_category {
	margin: 0 -50px;
}
.row_category > div {
	padding: 0 50px;
}
.row_category .item-catalog {
	margin-bottom: 25px;
}
.catalog-category_reverse .container > .row_category > .col-lg-6:first-child {
	order: 2;
}
.catalog-category_reverse .bottom-link {
	text-align: left;
}
.catalog-category_reverse .item-catalog-big__title {
	text-align: right;
}
.catalog-category {
	padding-bottom: 120px;
}
.item-catalog-big_second .item-catalog-big__name {
	padding: 0 40px;
	margin-bottom: 6px;
	border: none;
	border-bottom: 1px solid #fff;
}
.title-middle {
	font-size: 24px;
	line-height: 42px;
	font-weight: 500;
}
.text-page {
	font-size: 18px;
	line-height: 42px;
	letter-spacing: 0.05em;
	color: #262626;
}
.article-page .title-middle {
	padding-bottom: 30px;
}
.article-page .bottom-link {
	padding-top:50px;
}
.article-page img {
	max-width: 100%;
}
.article-page {
	border-top: 1px solid #E1E1E1;
	padding-top: 80px;
	padding-bottom: 160px;
}
.catalog-category + .article-page {
	margin-top: -40px;
}
.catalog-page {
	padding-bottom: 60px;
}
.news-page {
	margin-bottom: 77px;
	border-bottom: 2px solid #E1E1E1;
}
.news-page + .catalog-page .head-section {
	padding-top: 20px;
}
.catalog-category + .catalog-page .head-section {
	padding-top: 0;
}
.item-catalog-big__content img {
	max-width: 100%;
	object-fit: initial;
	width: initial;
	height: initial;
}
.item-catalog-big_third .item-catalog-big__content {
	padding: 8px;
}
.footer {
	color: #908F8D;
}
.footer p {
	margin-bottom: 12px;
}
.footer p a {
	color: #908F8D;
}
.footer__nav {
	display: flex;
	flex-wrap: wrap;
}
.footer__nav a {
	color: #807F7D;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	transition: all 0.3s;
}
.footer__nav li:nth-child(odd) {
	width: 55%;
}
.footer__nav li:nth-child(even) {
	width: 45%;
}
.footer__nav a:hover {
	border-color: initial;
}
.footer__nav li {
	margin-bottom: 10px;
}
.footer__nav_big a {
	font-weight: 500;
	color: #464645;
}
.title-min {
	font-weight: 500;
	text-transform: uppercase;
	color: #464645;
}
.footer__top {
	padding-top: 80px;
	border-top: 1px solid #E1E1E1;
}
.item-form textarea,
.item-form input {
	height: 44px;
	padding-top: 15px;
	font-size: 12px;
	line-height: 14px;
	font-family: 'TTNorms';
	color: #464645;
	width: 100%;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #C4C4C4;
}
.item-form textarea {
	height: 110px;
	resize: none;
}
.item-form {
	margin-bottom: 20px;
}
.footer .item-form {
	margin-bottom: 0;
}
.footer form {
	margin-top: 21px;
}
.list-social {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.list-social a {
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.list-social a:hover {
	background-color: #ebebeb;
}
.list-social a img {
	max-width: 100%;
	max-height: 100%;
}
.list-social li {
	margin-right: 17px;
}
.list-social li:last-child {
	margin-right: 0;
}
.footer .list-social {
	padding-top: 15px;
	padding-left: 15px;
}
.footer__bottom {
	padding: 8px 0;
	margin-top: 30px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #807F7D;
	border-top: 1px solid #E1E1E1;
}
.footer__bottom p {
	margin: 0;
}
.footer__bottom a {
	color: #807F7D;
	text-transform: uppercase;
	transition: all 0.3s;
}
.footer__bottom a:hover {
	color: #000;
}
.list-payments {
	display: flex;
	align-items: center;
}
.list-payments li {
	margin-right: 22px;
}
.center__footer {
	display: flex;
	align-items: center;
}
.footer__right {
	text-align: right;
}
.footer__name {
	padding-left: 30px;
}
.slick-arrow {
	font-size: 20px;
	color: #fff;
	width: 23px;
	height: 42px;
	top: 50%;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: 20px;
}
.slick-next {
	right: 20px;
}
.title-page {
	font-size: 36px;
	line-height: 42px;
	padding-bottom: 25px;
	font-weight: 500;
}
.footer__bottom .row {
	align-items: center;
}
/*Style Sandwich*/
.btn_nav {
	margin-left: 18px;
	border: none;
	z-index: 60;
	display: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 20px;
	height: 38px;
	padding-top: 11px;
	border-radius: 6px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
	transition: all 0.3s;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 20px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #000;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 9px;
	width: 20px; 
	height: 2px; 
	display: block;
	margin: 0 auto;
	background-color: #000;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.btn_nav .sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.btn_nav .sandwich.active .sw-bottom {
	top: 7px;
	transform: rotate(-45deg);
}
.header.fixed {
	transform: translateY(-32px);
}
.article-page .text-page {
	max-height: 428px;
	overflow: auto;
}

.article-page .text-page::-webkit-scrollbar {
	-webkit-appearance: none;
}
.article-page .text-page::-webkit-scrollbar:vertical {
	width: 3px;
}
.article-page .text-page::-webkit-scrollbar:horizontal {
	height: 3px;
}
.article-page .text-page::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 10px;
}
.article-page .text-page::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ccc;
}

.breadcrumb {
	padding: 28px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
}
.breadcrumb a {
	color: #807F7D;
	transition: all 0.3s;
}
.breadcrumb span {
	border-bottom: 1px solid #000;
}
.breadcrumb a:hover {
	color: #000;
}
.breadcrumb li::after {
	content: "/";
	margin: 0 5px; 
	color: #807F7D;
}
.breadcrumb li:last-child::after {
	display: none;
}
.menu {
	margin: 0 auto;
	flex: none;
}
.menu li {
	margin-right: 17px;
}
.header {
	border-bottom: 1px solid #CBCBCB;
}
.header__top span {
	border-bottom: 1px #fff solid;
}
.header__top {
	padding: 5px 15px;
	font-size: 13px;
	background-color: #000;
}
.wrapper {
	padding-top: 101px;
}
.item-sidebar__title {
	padding: 15px 0;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	border-top: 1px solid transparent;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	color: #000000;
}
.item-sidebar.active .item-sidebar__title  {
	border-color: #E1E1E1;
}
.item-sidebar.active .arrow-sidebar {
	background-image: url(../img/minus.svg);
}
.item-sidebar:first-child .item-sidebar__title {
	border: none;
}
.arrow-sidebar {
	width: 14px;
	height: 14px;
	background-image: url(../img/plus.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.checkbox {
	font-size: 12px;
	line-height: 1.2;
	margin-bottom: 8px;
	font-weight: 500;
	color: #807F7D;
	text-transform: uppercase;
	text-align: left;
	overflow: hidden; /* Fix for firefox and IE 10-11  */
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid; /* IE 10+ */
	break-inside: avoid-column;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 6px 0 3px 26px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #E1E1E1;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 7px;
	left: 3px;
	width: 10px;
	height: 10px;
	background-color: #282828;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.sidebar-catalog {
	margin-top: 20px;
	max-width: 190px;
}
.item-sidebar__content {
	display: none;
	padding-bottom: 15px;
}
.col_pl {
	padding-left: 0;
}
.row_main {
	margin: 0 -10px;
}
.row_main > div {
	padding: 0 10px;
}
.row_main .item-catalog {
	margin-bottom: 25px;
}
.footer .list-social {
	padding-left: 0;
	justify-content: center;
}
.footer__bottom {
	font-size: 10px;
	line-height: 12px;
}
.center__footer {
	justify-content: space-between;
}

.btn-like {
	background-image: url(../img/heart2.svg);
}

.slider-nav {
	margin-top: 55px;
	max-width: 100px;
}
.slider-nav__item {
	margin-bottom: 30px;
	height: 100px;
	cursor: pointer;
}
.slider-for__item img,
.slider-nav__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-for__item {
	height: 714px;
}
.slider-for {
	margin-left: -40px;
	padding-right: 30px;
	padding-bottom: 35px;
}
.row_slider-page .slick-dots li button,
.slider-for .slick-dots li button {
	background-color: #C4C4C4;
	border-color: #C4C4C4;
}
.row_slider-page .slick-dots li button:focus, 
.row_slider-page .slick-dots li button:hover,
.row_slider-page .slick-dots li.slick-active button,
.slider-for .slick-dots li button:focus, 
.slider-for .slick-dots li button:hover,
.slider-for .slick-dots li.slick-active button {
	background-color: #262626;
	border-color: #262626;
}
.price-card {
	font-size: 18px;
	font-weight: 500;
}
.card__top {
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
}
.card .breadcrumb {
	padding: 16px 0;
	margin-left: -40px;
}
.card__descr {
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 17px;
	padding-right: 150px;
}
.card__top .title-section {
	padding-bottom: 0;
}
.item-color__circle {
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;
	border: 1px solid transparent;
}
.item-color__circle::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: -0.2px;
	left: 0;
	border-radius: 50%;
	border: 1px solid #000;
	transform: scale(1.4);
	opacity: 0;
	transition: all 0.3s;
}
.item-color label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.item-color label input:checked + .item-color__circle:before {
	opacity: 1;
}
.wrap-colors {
	display: flex;
}
.item-color {
	margin-right: 20px;
	margin-bottom: 9px;
}
.title-color {
	font-size: 13px;
	line-height: 20px;
	font-weight: 500;
	color: #807F7D;
}
.link-page_gray {
	color: #807F7D;
	font-weight: 500;
	font-size: 13px;
	border-bottom: 1px solid #807F7D;
}
.link-page_gray:hover {
	border-color: transparent;
}
.card-sizes {
	font-size: 12px;
	line-height: 14px;
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}
.size-card label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.size-card {
	width: 20%;
	display: block;
}
.size-card span {
	padding: 8px 0;
	text-align: center;
	border: 1px solid #E1E1E1;
	display: block;
	cursor: pointer;
	color: #000000;
	transition: all 0.3s;
}
.size-card span:hover {
	border-color: #000;
}
.size-card label input:checked + span {
	background-color: #282828;
	color: #fff;
}
.card-buttons  .btn-main {
	color: #FFFFFF;
}
.card-buttons .btn-main {
	height: 50px;
	padding: 0 9px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0 10px;
	margin-top: 18px;
	box-shadow: none;
	flex: 1;
}
.card-buttons {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.card-buttons .btn-main_page {
	background-color: #f5f5f5;
	color: #282828;
	box-shadow: none;
}
.card-buttons .btn-main_page:not(.btn-main_like):hover {
	background-color: #262626;
	color: #fff;
}
.card-buttons .btn-main_like:hover {
	background-color: #e2e1e1;
}
.btn-main_quick {
	flex: none;
	width: 100%;
}
.card-buttons .btn-main img {
	margin-right: 15px;
}
.card-buttons .btn-main i {
	margin-right: 15px;
}
.btn-main_like.active i {
	font-weight: 700;
}
.text-card {
	font-size: 13px;
	line-height: 20px;
	color: #807F7D;
	font-weight: 500;
	margin-top: 30px;
	border-top: 1px solid #E1E1E1;
	padding-top: 20px;
}
.text-card  p {
	margin-bottom: 15px;
}
.text-card li::before {
	content: "•";
	margin-right: 4px;
}
.tabs {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #E1E1E1;
}
.tabs a {
	font-size: 13px;
	line-height: 20px;
	padding: 8px 0;
	display: inline-block;
	font-weight: 500;
	color: #807F7D;
	text-transform: uppercase;
	transition: all 0.3s;
}
.tabs a:hover,
.tabs .active a {
	color: #000000;
}
.tab-container {
	font-size: 13px;
	line-height: 20px;
	font-weight: 500;
	color: #807F7D;
	text-align: center;
	padding-top: 12px;
}
.card {
	padding-bottom: 30px;
}
.card .tabs {
	padding-top: 60px;
}
.tab-pane {
	display: none;
}
.tab-pane:nth-child(2) {
	display: block;
}
.head-section {
	padding-bottom: 40px;
}
.card ~ .catalog-page {
	padding-bottom: 20px;
}
.tab-pane__title {
	display: none;
}
.tabs__mob {
	display: none;
}
.tab-pane#tab0 {
	display: none;
}
.tab-container .text-card {
	display: block;
	padding: 0;
	margin: 0;
	border: none;
	text-align: left;
}
.header__wrap .logo {
	margin-right: 100px;
}
.price-card_old {
	color: #807f7d;
	margin-bottom: 3px;
	text-decoration: line-through;
}
.card__prices {
	height: 21px;
}
.descr-card {
	font-size: 12px;
	line-height: 20px;
	margin-top: 16px;
	padding: 0 5px;
	font-weight: 500;
	background-color: #f5f5f5;
	text-align: center;
}
.card-buttons .btn-main_quick {
	width: 100%;
}
.btn-main_basket.active i {
	font-weight: 700;
}
.sizes-info {
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
	padding: 7px 10px;
	margin-top: 2px;
	margin-bottom: 50px;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #282828;
}
.title-countdown {
	margin-top: 20px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	color: #807F7D;
	text-align: center;
}
.countdown-amount {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #000000;
}
.countdown-period {
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	color: #807F7D;
}
.countdown {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 80px;
	max-width: 270px;
}
.reminder-card__bottom {
	display: flex;
}
.reminder-card .btn-main {
	flex: 1;
	color: #fff;
	padding: 0 12px;
}
.item-input select {
	opacity: 0;
}
.item-input .jqselect {
	width: 100%;
	z-index: 1 !important;
}
.jq-selectbox__dropdown {
	width: 100%;
	top: 100% !important;
	left: 0;
	background-color: #fff;
	border: 1px solid #E1E1E1;
	border-top: none;
}
.jq-selectbox__dropdown li {
	padding: 13px 10px;
	border-bottom: 1px solid #E1E1E1;
	cursor: pointer;
	transition: all 0.3s;
}
.jq-selectbox__dropdown li.sel,
.jq-selectbox__dropdown li:hover {
background-color: #F5F5F5;
}
.jq-selectbox__dropdown li:last-child {
	border: none;
}
.item-input .jq-selectbox__select-text,
.item-input input {
	height: 50px;
	width: 100%;
	padding: 0 17px;
	font-size: 16px;
	line-height: 19px;
	font-family: 'TTNorms';
	color: #000000;
	border: 1px solid #E1E1E1;
}
.item-input .jq-selectbox__select-text {
	display: flex;
	align-items: center;
	cursor: pointer;
	white-space: nowrap;
    overflow: hidden;
}
.item-input {
	position: relative;
	margin-bottom: 30px;
}
.card .item-input {
	margin-bottom: 20px;
}
.item-input__placeholder {
	font-size: 12px;
	line-height: 14px;
	color: #807F7D;
	top: 18px;
	left: 10px;
	padding: 0 10px;
	transition: all 0.3s;
	background-color: #fff;
	position: absolute;
	z-index: 2;
	pointer-events: none;
}
.item-input__placeholder span {
	color: #FF0202;
	opacity: 0;
}
.jqselect.changed ~ .item-input__placeholder,
.jqselect.opened ~ .item-input__placeholder,
.item-input input.input-invalid + .item-input__placeholder,
.item-input input.input-valid + .item-input__placeholder,
.item-input input:focus + .item-input__placeholder {
	font-size: 12px;
	top: -7px;
}
.jqselect.changed ~ .item-input__placeholder,
.jqselect.opened ~ .item-input__placeholder span,
.item-input input.input-invalid + .item-input__placeholder span,
.item-input input.input-valid + .item-input__placeholder span,
.item-input input:focus + .item-input__placeholder span {
	opacity: 1;
}
.item-input input.input-valid {
	border-bottom: 1px solid #13BC04;
}
.item-input input.input-invalid {
	border-bottom: 1px solid #FF0202;
}
.reminder-card .btn-main_like {
	width: 60px;
	color: #282828;
	height: initial !important;
	padding: 0;
	flex: none !important;
	background: #F5F5F5;
	box-shadow: none;
}
.reminder-card .btn-main_like span {
	display: none !important;
}
.item-input__arrow::after,
.item-input__arrow::before {
	position: absolute;
	display: block;
	content: " ";
	width: 35px;
	height: 50px;
	top: 0;
	right: 0;
	pointer-events: none;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s;
	opacity: 0;
}
.item-input__arrow::before {
	background-image: url(../img/input_valid.svg);
}
.item-input__arrow::after {
	background-image: url(../img/input_invalid.svg);
}
.item-input input.input-valid ~ .item-input__arrow::before  {
	opacity: 1;
}
.item-input input.input-invalid ~ .item-input__arrow::after {
	opacity: 1;
}
.item-input input.input-invalid ~ .descr-input {
	color: #ff2020;
	border-color: #FF0202;
}
.item-input input.input-valid ~ .descr-input {
	color: #13BC04;
	border-color: #13BC04;
}
.success-input {
	font-size: 12px;
	line-height: 14px;
	padding: 18px 10px;
	margin-bottom: 20px;
	text-align: center;
	color: #807F7D;
	border: 1px solid #E1E1E1;
}
.sizes-info_empty {
	margin-bottom: 20px;
}
.bottom-link_empty {
	margin-top: 30px;
}
.card-buttons_empty {
	margin-top: 50px;
}
.descr-input {
	font-size: 12px;
	line-height: 14px;
	border-bottom: 1px solid #C4C4C4;
	color: #C4C4C4;
	display: inline;
	left: 0;
	margin-top: 2px;
	transition: all 0.3s;
}
.show-password {
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
	color: #000;
	border-bottom: 1px solid #000;
	position: absolute;
	transition: all 0.3s;
	bottom: 100%;
	margin-bottom: 3px;
	right: 0;
}
.show-password:hover {
	border-color:transparent;
}
.wrapper_inputs {
	padding: 60px;
}
.breadcrumbs-wrap {
	margin-bottom: 50px;
	border-bottom: 1px solid #CBCBCB;
}
.tags-catalog {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.tags-catalog ul {
	font-size: 12px;
	font-weight: 500;
	text-transform: capitalize;
	color: #282828;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.item-tag {
	padding: 0 9px;
	margin-bottom: 3px;
	margin-right: 10px;
	background-color: #E1E1E1;
}
.item-tag  i {
	cursor: pointer;
	margin-left: 7px;
	color: #807F7D;
	transition: all 0.3s;
}
.item-tag i:hover {
	color: #000;
}
.tags-catalog .link-page {
	font-size: 12px;
	line-height: 13px;
	color: #807F7D;
	border-color: #807F7D;
}
.tags-catalog .link-page:hover {
	border-color: transparent;
}
.item-sidebar__content .checkbox:first-child {

}
.pager {
	margin-top: 100px;
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
	color: #807F7D;
	display: flex;
	align-self: center;
	justify-content: center;
}
.page-numbers {
	margin: 0 5px;
	color: #807F7D;
}
.page-numbers:hover,
.page-numbers.current {
	color: #000;
}
.prev.page-numbers,
.next.page-numbers {
	border-bottom: 1px solid #807F7D;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	border-color: #000;
}
.prev.page-numbers {
	margin-right: 15px;
}
.next.page-numbers {
	margin-left: 15px;
}
.pager + .bottom-link {
	margin-top: -20px;
}
.checkboxes-size {
	columns: 2;
}
.item-catalog__status {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	padding: 4px 10px;
	background-color: #7f8080;
	color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 0;
}
.item-catalog__status_percent {
	font-size: 14px;
	line-height: 17px;
	padding-left: 4px;
	padding-right: 4px;
} 
.personal {
	padding-bottom: 133px;
}
.tabs-main {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs-main a {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	margin: 0 10px;
	border-bottom: 1px solid transparent;
	text-align: center;
	text-transform: uppercase;
	color: #807F7D;
	transition: all 0.3s;
}
.tabs-main a:hover,
.tabs-main .active a {
	color: #000;
	border-color: #000;
}
.tab-container-main {
	padding-top: 50px;
}
.tab-container-main .title-section {
	padding-bottom: 32px;
}
.form-personal {
	max-width: 540px;
	margin: 0 auto;
}
.form-personal .item-input__placeholder {
	font-size: 16px;
}
.form-personal .btn-main {
	width: 47%;
	color: #fff;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
}
.form-personal__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.btn-main_right {
	margin-left: auto;
}
.tab-pane-main {
	display: none;
}
.tab-pane-main:nth-child(1) {
	display: block;
}
.input-pretel ~ .item-input__placeholder {
	top: 18px !important;
	font-size: 16px !important;
}
.history-orders {
	max-width: 964px;
	margin: 0 auto;
	border: 1px solid #CBCBCB;
}
.history-head {
	font-weight: 500;
	padding: 6px 10px;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	background: #F5F5F5;
	color: #000000;
}
.order-history__head {
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	padding: 7px 10px;
}
.order-history {
	border-top: 1px solid #CBCBCB;
}
.arrow-history {
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background-image: url(../img/arrow_history1.svg);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	position: relative;
}
.arrow-history::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../img/arrow_history2.svg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: all 0.3s;
	background-color: #262626;
}
.order-history__content {
	display: none;
}
.table-order table {
	width: 100%;
	border-spacing: 0;
}
.table-order table th {
	padding: 8px 0;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
}
.title-td {
	font-weight: 500;
	color: #000;
}
.name-td {
	color: #807F7D;
}
.descr-td {
	font-size: 12px;
}
.table-order table {
	width: 100%;
	border-spacing: 0;
}
.table-order table strong {
	font-weight: 500;
}
.table-order table td {
	padding: 10px 0;
	border-top: 1px solid #C4C4C4;
}
.info-td {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	min-height: 130px;
}
.image-td {
	width: 100px;
	height: 130px;
}
.image-td img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.table-order table td:nth-child(1) {
	padding-left: 10px;
	width: 140px;
}
.history-orders-descr {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	margin: 0 auto;
	margin-top: 10px;
	max-width: 964px;
}
.order-history__head.active {
	background-color: #262626;
	color: #fff;
}
.order-history__head.active .arrow-history::before {
	opacity: 1;
}
.catalog-wrap {
	max-width: 975px;
	margin: 0 auto;
}
.remove-like {
	top: 6px;
	right: 6px;
	position: absolute;
	display: inline-block;
	z-index: 2;
	opacity: 0;
}
.item-catalog:hover .remove-like {
	opacity: 1;
} 
.table-order td {
	position: relative;
}
.table-order_basket table th {
	text-transform: uppercase;
	background-color: #F5F5F5;
}
.table-order_basket {
	border: 1px solid #CBCBCB;
}
.table-order_basket table th:first-child {
	padding-left: 10px;
}
.remove-tr {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.basket-wrap {
	max-width: 964px;
	margin: 0 auto;
}
.form-line {
	display: flex;
}
.form-line .item-input {
	width: 183px;
}
.form-line .btn-main {
	color: #fff;
}
.form-line .item-input input {
	height: 44px;
}
.form-line .item-input .item-input__placeholder {
	top: 15px;
}
.line-basket {
	padding: 4px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #CBCBCB;
}
.line-basket strong {
	font-weight: 500;
}
.wrap-bottom-basket {
	display: flex;
	justify-content: flex-end;
}
.bottom-basket__button {
	padding-top: 40px;
	text-align: right;
}
.bottom-basket .btn-main {
	color: #fff;
}
.table-order .quantity {
	display: none;
}
.bottom-basket .item-input input.input-invalid + .item-input__placeholder, 
.bottom-basket .item-input input.input-valid + .item-input__placeholder, 
.bottom-basket .item-input input:focus + .item-input__placeholder {
	font-size: 10px;
}
.table-order .quantity {
	display: inline-flex;
}
.table-order .quantity input {
	width: 30px;
	font-size: 14px;
	line-height: 14px;
	font-family: 'TTNorms';
	border: none;
	text-align: center;
	background-color: transparent;
}
.table-order .quantity .quantity-button {
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]
{
	-moz-appearance: textfield;
}
.forget-password {
	font-size: 9px;
	line-height: 11px;
	cursor: pointer;
	color: #807F7D;
	border-bottom: 1px solid #807F7D;
	position: absolute;
	bottom: 100%;
	margin-bottom: 3px;
	right: 0;
	text-transform: uppercase;
}
.forget-password:hover {
	color: #000;
	border-color: #000;
}
.authorization-wrap {
	max-width: 540px;
	margin: 0 auto;
}
.authorization-links {
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	margin-bottom: 75px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.authorization-links span {
	padding: 0 7px;
}
.authorization-links a {
	color: #807f7d;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.authorization-links a:hover,
.authorization-links .active a {
	color: #000;
	border-color: #000;
}
.buttons-authorization { 
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.buttons-authorization .btn-main {
	width: 45%;
	color: #fff;
	padding: 0 10px;
	text-transform: uppercase;
}
.btn-main_gray {
	background-color: #E1E1E1;
	color: #1E0E00 !important;
}
.btn-main_gray:hover {
	background-color: #d4d4d4;
}
.social-authorization__title {
	padding-bottom: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #1E0E00;
	font-weight: 500;
}
.social-authorization {
	padding-top: 82px;
}
.social-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-list path {
	transition: all 0.3s;
}
.social-list a:hover path {
	fill: #262626;
}
.social-list a {
	margin: 0 30px;
	display: inline-block;
}
.authorization {
	padding-bottom: 100px;
}
.forget-password ~ .show-password {
	visibility: hidden;
	transition: initial;
}
.item-input input.input-invalid ~ .forget-password, 
.item-input input.input-valid ~ .forget-password, 
.item-input input:focus ~ .forget-password {
	visibility: hidden;
}
.item-input input.input-invalid ~ .forget-password ~ .show-password, 
.item-input input.input-valid ~ .forget-password ~ .show-password, 
.item-input input:focus ~ .forget-password ~ .show-password  {
	visibility: visible;
}
.item-input_simple input.input-invalid,
.item-input_simple input.input-valid {
	border-color: #E1E1E1;
}
.item-input_simple input.input-valid ~ .item-input__arrow::before {
	display: none;
}
.title-authorization {
	font-size: 18px;
	padding-bottom: 85px;
	font-weight: 500;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
}
.authorization-wrap_login {
	padding: 50px 62px;
	padding-bottom: 130px;
	background: #FFFFFF;
	box-shadow: 1px 0px 3px 3px rgba(0, 0, 0, 0.12);
}
.authorization-wrap .title-authorization {
	padding-bottom: 60px;
}
.title-block {
	font-size: 18px;
	line-height: 21px;
	padding-bottom: 30px;
	font-weight: 500;
	text-transform: uppercase;
}
.registration-wrap .item-input__placeholder {
	font-size: 16px;
}
.registration-wrap .btn-main {
	color: #fff;
}
.registration-wrap .show-password {
	visibility: hidden;
}
.registration-wrap .item-input input.input-invalid ~ .show-password, 
.registration-wrap .item-input input.input-valid ~ .show-password, 
.registration-wrap .item-input input:focus ~ .show-password  {
	visibility: visible;
}
.registration-wrap .descr-input {
	position: absolute;
	top: 100%;
	left: 0;
	color: #807F7D;
}
.social-register {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.social-register .social-list a {
	margin: 0 10px;
}
.social-register .social-list li:last-child a {
	margin-right: 0;
}
.social-register .title-block {
	padding: 0;
}
.checkbox_main label > span:after {
	width: 16px;
	height: 16px;
	top: 4px;
	left: 0;
	background-color: transparent;
	background-image: url(../img/arrow_check.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.checkbox_main {
	font-size: 9px;
}
.checkbox_main label > span {
	padding-bottom: 5px;
}
.agreement-main {
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	color: #807F7D;
	max-width: 240px;
	margin-left: auto;
}
.agreement-main a {
	color: #464645;
	border-bottom: 1px solid #464645;
	transition: all 0.3s;
}
.agreement-main a:hover {
	border-color: transparent;
}
.registration-wrap .checkbox_main {
	margin-bottom: 20px;
}
.descr-input_static {
	color: #807F7D !important;
	border-color: #807F7D !important;
}
.row_registration {
	margin: 0 -35px;
}
.row_registration > div {
	padding: 0 35px;
}
.registration-wrap .form-personal__bottom .btn-main {
	width: 43%;
}
.news {
	padding-bottom: 160px;
}
.text-middle {
	max-width: 710px;
	letter-spacing: 0.025em;
	margin: 0 auto;
}
.item-blog__image {
	height: 580px;
	display: block;
}
.item-blog__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-blog {
	padding-top: 60px;
	margin-top: 60px;
	border-top: 1px solid #CBCBCB;
}
.item-blog .title-section {
	text-align: left;
}
.item-blog__left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	min-height: 100%;
}
.item-blog .bottom-link {
	width: 100%;
}
.news-billbord {
	height: 780px;
	margin-top: 25px;
	margin-bottom: 70px;
	display: block;	
}
.news-billbord img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.news .text-middle {
	padding-bottom: 30px;
}
.item-blog .row {
	margin: 0 -30px;
}
.item-blog .row > div {
	padding: 0 30px;
}
.item-blog:nth-child(even) .item-blog__left {
	order: 2;
}
.item-blog p {
	margin-bottom: 20px;
}
.news .breadcrumbs-wrap {
	margin-bottom: 25px;
}
.title-section_mobile {
	display: none;
}
.row_big {
	margin: 0 -30px;
}
.row_big > div {
	padding: 0 30px;
}
.unit-article__image {
	height: 580px;
}
.unit-article__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.unit-article {
	position: relative;
}
.phrase-article {
	position: absolute;
}
.phrase-article1_1 {
	top: 233px;
	left: 31px;
}
.phrase-article1_2 {
	bottom: 154px;
	right: 108px;
}
.phrase-article2_1 {
	top: 193px;
	left: 100px;
}
.phrase-article2_2 {
	top: 24px;
	right: 30px;
}
.phrase-article3_1 {
	left: 69px;
	bottom: 55px;
}
.phrase-article3_2 {
	top: 59px;
	right: 26px;
}
.phrase-article4_1 {
	left: 101px;
	bottom: 55px;
}
.phrase-article4_2 {
	top: 78px;
	left: 147px;
}
.phrase-article4_3 {
	top: 59px;
	right: 76px;
}
.phrase-article5_1 {
	top: 249px;
	left: 258px;
}
.phrase-article5_2 {
	top: 106px;
	right: 77px;
}
.phrase-article6_1 {
	bottom: 131px;
	left: 25px;
}
.phrase-article6_2 {
	top: 106px;
	left: 25px;
}
.phrase-article6_3 {
	top: 250px;
	right: 57px;
}
.phrase-article7_1 {
	top: 211px;
	left: 94px;
}
.phrase-article8_1 {
	top: 130px;
	right: 79px;
}
.phrase-article__text {
	font-size: 10px;
	line-height: 12px;
	font-weight: 300;
	padding: 0 10px;
	padding-bottom: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.phrase-article__text p {
	margin-bottom: 2px;
}
.unit-article {
	margin-bottom: 70px;
}
.news ~ .catalog-page {
	padding-bottom: 40px;
}
.news ~ .catalog-page .head-section {
	padding-top: 0;
}
.news_article {
	padding-bottom: 60px;
}
.news_article .text-middle {
	margin-bottom: 40px;
}
.col_mobile {
	display: none;
}
.search-top {
	padding: 16px 0;
	margin-bottom: 25px;
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
}
.search-modal {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	max-height: calc(100vh - 102px);
	overflow: auto;
	display: none;
}
.search-modal::-webkit-scrollbar {
	-webkit-appearance: none;
}
.search-modal::-webkit-scrollbar:vertical {
	width: 0px;
}
.search-modal::-webkit-scrollbar:horizontal {
	height: 0px;
}
.search-modal::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 10px;
}
.search-modal::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}
.search-modal .title-section {
	padding-bottom: 25px;
}
.search-modal .row_catalog {
	max-width: 1000px;
	margin: 0 auto;
}
.search-top .item-input {
	position: relative;
	flex: 1;
	margin: 0;
}
.search-top .item-input input {
	height: 40px;
	font-size: 16px;
	line-height: 18px;
	padding-right: 50px;
	background-color: #F4F4F4;
	border: none;
	transition: all 0.3s;
}
.search-top .item-input input:valid,
.search-top .item-input input:hover,
.search-top .item-input input:focus {
	box-shadow: 0px 0px 3px 1px #A7EBCE;
	background-color: #fff;
}
.search-top .item-input input::-webkit-input-placeholder {
	color: #807F7D;
}
.search-top .item-input input:-moz-placeholder {
	color: #807F7D;
}
.search-top .item-input input::-moz-placeholder {
	color: #807F7D;
}
.search-top .item-input input:-ms-input-placeholder {
	color: #807F7D;
}
.clear-search {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	opacity: 0.7;
	margin: auto;
	background-image: url(../img/clear.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
}
.search-top .item-input input:valid ~ .clear-search,
.clear-search:hover {
	opacity: 1;
}
.close-search {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #262626;
	margin-left: 30px;
	cursor: pointer;
}
.search-top__wrap {
	padding-right: 30px;
	display: flex;
	align-items: center;
}
.search-overlay {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100vw;
	height: 10000px;
	display: none;
	background: rgba(196, 196, 196, 0.8);
}
.btn-search {
	width: 21px;
	height: 21px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.history-search__title {
	font-size: 14px;
	line-height: 18px;
	margin-right: 20px;
	flex: none;
}
.history-search__content {
	color: #807F7D;
}
.history-search__content a {
	color: #807F7D;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.history-search__content a:hover {
	color: #000;
	border-color: #000;
}
.history-search__content li {
	margin-bottom: 17px;
}
.history-search {
	display: flex;
}
.title-search {
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 20px;
}
.search-modal_page {
	display: block;
}
.clear-sidebar-mobile {
	display: none;
}
.search-modal_page .search-top {
	margin-bottom: 0;
}
.catalog-page_search .breadcrumb {
	padding: 25px 0;
}


.menu-dropdown {
	top: 100%;
	left: 0;
	width: 100%;
	border-top: 1px solid #E1E1E1;
	position: absolute;
	background-color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: all 0.1s;
}
.header__wrap {
	padding: 0;
}
.menu > li {
	padding: 24px 0;
}
.menu li:hover .menu-dropdown {
	visibility: visible;
	opacity: 1;
}
.wrapper-dropdown::-webkit-scrollbar {
	-webkit-appearance: none;
}
.wrapper-dropdown::-webkit-scrollbar:vertical {
	width: 3px;
}
.wrapper-dropdown::-webkit-scrollbar:horizontal {
	height: 3px;
}
.wrapper-dropdown::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 10px;
}
.wrapper-dropdown::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ccc;
}
.wrapper-dropdown {
	overflow: auto;
	max-height: calc(100vh - 66px);
}
.menu-dropdown::after {
	position: absolute;
	display: block;
	content: " ";
	top: 100%;
	width: 100%;
	height: 100vh;
	background: rgba(196, 196, 196, 0.8);
}
.content-dropdown {
	padding: 60px 0;
}
.list-dropdown {
	font-size: 13px;
}
.list-dropdown a {
	color: #000000;
}
.list-dropdown li {
	margin: 0;
	margin-bottom: 15px;
}
.unit-dropdown {
	display: block;
}
.unit-dropdown__image {
	height: 310px;
	margin-bottom: 2px;
	display: block;
}
.unit-dropdown__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
a.unit-dropdown {
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
	border: none;
}
.unit-dropdown__name {
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.unit-dropdown:hover .unit-dropdown__name{
	border-color: #000;
}
.bottom-dropdown {
	padding: 20px 0;
	border-top: 1px solid #E1E1E1;
}
.bottom-dropdown {
	font-size: 13px;
	line-height: 15px;
	text-align: center;
}
.bottom-dropdown a {
	color: #000;
}
.bottom-dropdown strong {
	font-weight: 500;
}
.bottom-dropdown p {
	margin-bottom: 10px;
}
.bottom-dropdown p span {
	text-transform: uppercase;
}
.columns-2 {
	columns: 2;
}
.columns-3 {
	columns: 3;
}
.letter-brand {
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 10px;
	color: #000;
	border-bottom: 1px solid #000;
	transition: all 0.3s;
	text-transform: uppercase;
	display: inline-block;
}
.list-dropdown_letters li {
	margin-left: 9px;
}
.list-dropdown_letters li::before {
	margin-left: 3px;
	margin-right: 6px;
	content: "•";
}
.item-letter {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}
.mobile-units {
	display: none;
}
.footer .list-social {
	padding-left: 15px;
	padding-top: 0;
	justify-content: flex-start;
}
.footer form {
	margin-top: 50px;
}
.social-list a.social-list_ya rect,
.social-list a.social-list_ya path {
	transition: all 0.3s;
}
.social-list a.social-list_ya:hover rect {
	fill: #262626;
}
.social-list a.social-list_ya:hover path {
	fill: #fff;
}
.dropdown-header {
	position: absolute;
	top: 100%;
	right: 0;
	margin-top: 25px;
	background: #FFFFFF;
	min-width: 162px;
	box-shadow: 0px 0px 3px 2px #A7EBCE;
	display: none;
}
.dropdown-header__list {
	padding: 20px 10px;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
}
.dropdown-header__list a {
	color: #807F7D;
	transition: all 0.3s;
	border-bottom: 1px solid transparent;
}
.dropdown-header__list a:hover {
	color: #000;
	border-color: #000;
}
.dropdown-header__list li {
	margin-bottom: 10px;
}
.dropdown-header__list li:last-child {
	margin-bottom: 0;
}
.btn-header-wrap {
	position: relative;
	display: flex;
}
.dropdown-header_basket {
	width: 538px;
}
.dropdown-header__title {
	padding: 19px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}
.quantity input {
	width: 30px;
	font-size: 14px;
	line-height: 14px;
	font-family: 'TTNorms';
	border: none;
	text-align: center;
	background-color: transparent;
}
.quantity {
	display: inline-flex;
	align-items: center;
}
.quantity .quantity-button {
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}
.td-price {
	position: relative;
	text-align: right;
	padding-bottom: 3px;
	vertical-align: bottom;
}
.unit-basket tfoot td:last-child,
.unit-basket table td.td-price {
	padding-right: 30px;
	text-align: right;
}
.td-price .price-old {
	margin-bottom: 7px;
}
.unit-basket table {
	font-size: 12px;
	line-height: 14px;
	width: 100%;
	border-spacing: 0;
}
.unit-basket table td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.unit-basket table td:nth-child(1) {
	padding-left: 60px;
	width: 180px;
}
.unit-basket tfoot td {
	border-top: 1px #c4c4c4 solid;
	border-bottom: 1px #c4c4c4 solid;
}
.unit-basket table th {
	padding: 7px 0;
	padding-left: 60px;
	border-top: 1px solid #C4C4C4;
	font-weight: 500;
	text-align: left;
	background-color: #F5F5F5;
}
.unit-basket .remove-tr {
	top: 8px;
	right: 30px;
}

.block-buttons .btn-main {
	margin-top: 22px;
	width: 100%;
	padding: 0 10px;
}
.footer .btn-main {
	color: #999;
}
.footer .btn-main:hover {
	color: #fff;
}
.block-buttons {
	padding: 0 60px;
	padding-bottom: 52px;
}
.block-buttons .row {
	margin: 0 -10px;
}
.block-buttons .row > div {
	padding: 0 10px;
}
.dropdown-header__close {
    width: 21px;
    height: 21px;
	top: 17px;
	right: 25px;
	cursor: pointer;
	position: absolute;
}
.dropdown-header__close img {
	width: 100%;
	height: 100%;
}
.modal-block {
	display: none;
}
.modal-quick .unit-basket table td:nth-child(1) {
	padding-left: 20px;
	width: 135px;
}
/*fancybox*/
.fancybox-skin {
    padding: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.fancybox-close {
    top: 12px;
    right: 25px;
        width: 26px;
    height: 26px;
    background-image: url(../img/remove.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.fancybox-inner {
    overflow: visible !important;
}
.modal-quick {
	width: 538px;
	margin: 0 auto;
	max-width: 100%;
	color: #000;
	background-color: #fff;
}
.title-modal {
	font-weight: 500;
font-size: 16px;
line-height: 19px;
	padding: 30px 0;
	text-transform: uppercase;
	text-align: center;
}
.unit-basket table td {
border-top: 1px #c4c4c4 solid;
}
.modal-quick .unit-basket thead td {
font-weight: 500;
}
.modal-quick .unit-basket table th {
	padding-left: 20px;
}
.descr-code-input {
	font-size: 12px;
line-height: 20px;
margin-bottom: 17px;	
	text-align: center;
}
.detail-form {
	padding-top: 36px;
	font-weight: 500;
font-size: 12px;
line-height: 14px;
text-align: center;
}
.modal-block .title-section {
	padding-bottom: 30px;
	text-transform: uppercase;
}
.modal-bottom {
	padding: 30px 67px;
}
.row_min {
	margin: 0 -11px;
}
.row_min > div {
	padding: 0 11px;
}
.row_phone {
	margin: 0 -5px;
}
.row_phone > div {
	padding: 0 5px;
}
.modal-bottom .btn-main {
	width: 100%;
	text-transform: uppercase;
}
.unit-basket .info-td {
	min-height: 130px;
}
.title-modal + .title-modal {
	padding-top: 20px;
}
.descr-succeed {
	font-size: 18px;
line-height: 32px;
max-width: 320px;
margin: 0 auto;
padding-bottom: 30px;
text-align: center;
}
#succeed-order .modal-bottom {
	padding-bottom: 100px;	
}
#succeed-order .modal-bottom .title-modal {
	padding-top: 0;
}
.modal-bottom .btn-main span {
	margin-top: 3px;
	font-size: 10px;
	vertical-align: middle;
}
.basket {
	padding-bottom: 200px;
}
.basket .title-section {
	padding-bottom: 35px;
}
.basket .wrap-bottom-basket {
	padding-top: 20px;
}
.basket .bottom-basket__button .btn-main {
	width: 100%;
}
.empty-wrap {
	max-width: 314px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.empty-wrap .btn-main {
	width: 100%;
}
.empty-wrap img {
	max-width: 100%;
	height: auto;
	margin: 0px auto;
	margin-bottom: 35px;
	display: block;
}
.empty-wrap .title-section {
	padding-bottom: 80px;
}
.table-order table td.td-return {
	text-align: right;
	padding-right: 15px;
}
.col_pr {
	padding-right: 0;
}
.row_bottom-basket {
	margin-top: 20px;
}
.ordering-form .btn-main {
	width: 100%;
}
.ordering-form .item-input {
	margin-bottom: 30px;
}
.title-small {
	font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #000000;
text-transform: uppercase;
}
.row_bottom-basket .checkbox {
	margin-bottom: 4px;
}
.row_bottom-basket .title-small {
	margin-bottom: 15px;
}
.col-delivery {
	padding-left: 50px;
}
.mobile-delivery {
	display: none;
}
.tab-delivery-own {
	display: none;
}
.bottom-basket .btn-main {
	flex: 1;
	padding: 0 20px;
}
.brands {
	padding-bottom: 200px;
}
.letters-wrapper {
	padding-bottom: 30px;
	margin-top: -20px;
		border-bottom: 1px solid #CBCBCB;
}
.letters-wrapper .list-letters {
	margin-left: -40px;
}
.list-letters {
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
.list-letters a {
	border-bottom: 1px solid transparent;
	color: #000;
	transition: all 0.3s;
}
.list-letters a:hover {
	border-color: #000;
}
.list-letters li {
	padding: 0 10px;
}
.list-letters__disabled a {
	pointer-events: none;
	color: #C4C4C4;
}
.letter-title {
	font-size: 24px;
line-height: 28px;
margin-bottom: 10px;
font-weight: 500;
color: #000;
text-transform: uppercase;
}
.list-words a {
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.list-words a:hover {
	border-bottom: 1px solid #000;
}
.list-words {
	margin-bottom: 50px;
}
.list-words li {
	margin-left: 4px;
	margin-bottom: 7px;
}
.list-words li::before {
	margin-left: 3px;
	margin-right: 6px;
	content: "•";
}
.letters-main {
	margin-top: 100px;
	columns: 3;
}
.unit-letter {
		-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}
.slider-brands .slick-track {
    display: flex !important;
    align-items: center;
}
.slider-brands .slick-slide {
    height: inherit !important;
}
.slider-brands .slick-arrow path {
	stroke: #000;
}
.slider-brands {
	padding: 0 50px;
	text-align: center;
}
.slider-brands__item {
	margin: 0 10px;
	display: inline-block;
}
.slider-brands__item img {
	max-width: 100%;
	margin: 0 auto;
}
.brands .slider-brands {
	margin-top: 160px;
}
.top-brand-catalog {
	padding-bottom: 35px;
	text-align: center;
}
.top-brand-catalog img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}
.top-brand-catalog p {
	max-width: 620px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.center-button {
	text-align: center;
}
.news_article .center-button {
	padding-bottom: 25px;
}