/*==========  Desktop First Method  ==========*/


@media only screen and (max-width : 1270px) {
	
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu {
		display: none;
	}

	.title-big { 
		font-size: 36px;
		line-height: 54px;
	}
	.title-big strong {
		font-size: 48px;
		line-height: 72px; 
	}
	.slider-billbord .slick-dots {
		bottom: 20px;
	}
	.head-section {
		padding-top: 54px;
		padding-bottom: 20px;
	}

	.item-catalog-big {
		margin: 0 -15px;
		margin-bottom: 115px;
	}

	.row_category {
		margin: 0 -15px;
	}
	.row_category > div {
		padding: 0 15px;
	}
	.item-catalog-big .item-catalog-big__title {
		padding: 0 15px;
	}

	.catalog-category_reverse .container > .row_category > .col-lg-6:first-child {
		order: -1;
	}
	.item-catalog-big .item-catalog-big__title {
		text-align: left;
	}
	.catalog-category_reverse .bottom-link {
		text-align: right;
	}
	.text-page {
		font-size: 16px;
		line-height: 30px;
	}
	.article-page .text-page {
		max-height: 184px;
	}
	.article-page .title-middle {
		padding-bottom: 20px;
	}
	.row_news {
		margin: 0 -15px;
	}
	.row_news > div {
		padding: 0 15px;
	}
	.footer__bottom .row {
		margin: 0 -5px;
		justify-content: space-between;
	}
	.footer__bottom .row > div {
		padding: 0 5px;
		width: initial;
	}
	.footer__bottom {
		font-size: 9px;
		line-height: 10px;
	}
	.footer__name {
		padding-left: 0;
	}
	.list-payments li {
		margin-right: 9px;
	}
	.footer .title-min {
		padding-top: 40px;
		text-align: center;
	}
	.footer__top {
		padding-top: 55px;
	}
	.hidden-mob {
		display: none;
	}
	.list-social {
		padding-left: 0;
		justify-content: center;
	}
	.footer form {
		max-width: 468px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.btn-header_user,
	.btn-quit {
		display: none;
	}
	.btn-header {
		order: -1;
		margin-right: 15px;
		margin-left: 0;
	}
	.btn-header_user {
		order: -2;
	}
	.header__wrap .logo {
		margin: 0 auto;
	}
	.header__wrap {
		padding: 10px 0;
	}
	.btn_nav {
		display: inline-block;
	}
	.form-search input:focus {
		width: 85vw;
	}
	.menu-mobile {
		width: 100%;
		top: 100%;
		left: 0;
		height: 100vh;
		padding: 15px 15px;
		padding-bottom: 120px;
		display: none;
		overflow: auto;
		background-color: #fff;
		position: absolute;
	}
	.menu > li > a {
		margin: 0;
		padding: 10px;
		display: block;
		position: relative;
		border-bottom: 1px solid #807F7D;
	}
	.menu-mobile  .menu {
		display: block;
		margin: 0;
	}
	.item-catalog .btn-like {
		opacity: 1;
	}
	.footer .list-social {
		padding-top: 15px;
		padding-left: 15px;
		justify-content: flex-start;
	}
	.breadcrumb {
		padding: 13px 0;
	}
	.sidebar-catalog {
		margin-top: 32px;
	}
	.header__wrap {
		border: none;
	}
	.header {
		border-bottom: 1px solid #CBCBCB;
	}
	.card-buttons .btn-main {
		font-size: 13px;
	}
	.slider-for__item {
		height: 583px;
	}
	.slider-for {
		padding-right: 0;
	}
	.slider-nav__item {
		margin-bottom: 12px;
		height: 85px;
	}
	.card__descr {
		padding-right: 85px;
	}
	.sizes-info  {
		margin-bottom: 6px;
	}
	.countdown {
		margin-bottom: 45px;
	}
	.sizes-info_empty {
		margin-bottom: 20px;
	}


	.menu > li {
		padding: 0;
	}
	.menu a {
		color: #000;
	}
	.menu {
		font-size: 12px;
	}
	.menu > li {
		width: 100%;
	}
	.menu > li > a {
		padding: 10px 20px;
		border-bottom: 1px solid #E1E1E1;
	}
	.menu-mobile {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}
	.bottom-dropdown {
		border-bottom: 1px solid #E1E1E1;
	}
	.bottom-dropdown p:last-child {
		margin-bottom: 0;
	}
	.menu-mobile .menu {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.menu > li.menu__special {
		order: -1;
	}
	.menu > li:first-child {
		order: -1;
	}
	.btn_nav .sandwich.active .sw-topper {
		top: 8px;
	}
	.btn_nav .sandwich.active .sw-bottom {
		top: 6px;
	}
	.menu > li > a {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.menu .menu__haschild > a::after {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		font-weight: 300;
		font-family: "Font Awesome 5 Pro";
		color: #807f7d;
		font-size: 16px;
	}
	.menu .menu__haschild > a::after {
		content: "\f067";
	}
	.menu-dropdown {
		padding: 0 5px;
		border: none;
		position: relative;
		top: 0;
		left: 0;
		visibility: visible;
		opacity: 1;
		transition: inherit;
		display: none;
	}
	.wrapper-dropdown {
		max-height: initial;	
	}
	.list-dropdown {
		font-size: 10px;
	}
	.list-dropdown li {
		margin-bottom: 11px;
	}
	.unit-dropdown__image {
		height: 240px;
	}
	.unit-dropdown {
		font-size: 10px;
	}
	.content-dropdown {
		padding-top: 15px;
		padding-bottom: 40px;
	}
	.menu > li > a.active {
		border-color: transparent !important;
	}
	.menu > li > a:hover {
		border-color: #E1E1E1;
	}
	.menu .menu__haschild > a.active::after {
		content: "\f068";
	}
	.menu-dropdown::after {
		display: none;
	}
	.menu-dropdown .bottom-dropdown {
		display: none;
	}
	.wrapper {
		padding-top: 92px;
	}
	.footer .list-social {
		padding-left: 0;
		justify-content: center;
	}
	.footer__bottom {
		margin-top: 60px;
	}
	.dropdown-header_user {
		display: none !important;
	}
	.btn-header-wrap_basket {
		order: -1;
	}
	.dropdown-header {
		left: -60px;
		right: auto;
		margin-top: 20px;
		max-width: 100vw;
		overflow: auto;
		max-height: calc(100vh - 58px);
	}
	.dropdown-header::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.dropdown-header::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.dropdown-header::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.dropdown-header::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .5);
		border-radius: 10px;
	}
	.dropdown-header::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #ccc;
	}
	.table-order table td.td-return {
		text-align: right;
		padding-right: 15px;
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		padding-left: 10px !important;
		width: initial !important;
		margin-left: -125px;
	}
	.fixed-buttons {
		padding: 17px 10px;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		background: #FFFFFF;
		box-shadow: 0px 0px 4px #000000;
		justify-content: space-around;
		z-index: 1001;
	}
	.fixed-buttons .btn-header_user {
		order: initial;
		display: inline-flex;
	}
	.fixed-buttons .btn-header {
		position: relative;
		order: initial;
	}
	.fixed-buttons .btn-header span {
		top: -3px;
		right: -5px;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
		width: 16px;
		height: 16px;
		background: #262626;
		position: absolute;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-weight: 400;
	}
	.btn-menu {
		font-size: 14px;
		line-height: 17px;
		display: inline-block;
		padding: 0 15px;
		color: #282828;
	}
	.header__wrap .btn_nav,
	.header__wrap .btn-search,
	.header__wrap .btn-header {
		display: none;
	}
	.header__top {
		font-size: 10px;
		line-height: 12px;
	}
	.header.fixed {
		transform: none;
	}
	.menu-mobile {
		height: calc(100vh - 119px);
	}
	.btn_nav .sandwich span {
		height: 1px;
	}
	.btn_nav .sandwich .sw-topper {
		top: 8px;
		transform: rotate(45deg);
	}
	.btn_nav .sandwich .sw-bottom {
		top: 7px;
		transform: rotate(-45deg);
	}
	.header__wrap .btn_nav {
		position: absolute;
		top: -19px;
		right: 0;
	}
	.btn_nav .sandwich.active .sw-topper {
		top: 7px;
	}
	.search-modal {
		max-height: calc(100vh - 118px);
	}
	.about-article hr {
		margin-bottom: 40px;
	}
	.map-main {
		height: 300px;
	}
	.contact-form .row_big > div {
		padding: 0 30px;
	}
	.contact-form {
		padding: 0 60px;
		padding-top: 30px;
	}
	.contacts hr {
		margin: 55px 0;
	}
	.contacts .title-section {
		padding-bottom: 35px;
	}
	.contacts {
		padding-bottom: 130px;
	}
	.wrapper {
		padding-top: 83px;
	}
	.error-page {
		padding-top: 39px;
		padding-bottom: 69px;
	}
	.footer {
		padding-bottom: 65px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.container {
		max-width: 100%;
	}
	.catalog-category .row_category > div:nth-child(n+4) {
		display: none;
	}
	.item-catalog-big__image {
		height: initial;
	}
	.item-catalog-big__image img {
		max-width: 100%;
		height: auto;
	}
	.row_news > div:nth-child(n+3) {
		display: none;
	}
	.col-main {
		width: 33%;
	}
	.row_catalog .col-main:nth-child(n+7) {
		display: none;
	}
	.row_catalog_min .col-main:nth-child(n+4) {
		display: none;
	}
	.hidden-laptop {
		display: none;
	}
	.slider-for {
		margin-left: 0;
	}
	.card .breadcrumb {
		margin-left: 0;
	}
	.text-card {
		display: none;
	}
	.size-card span {
		padding: 8px 0;
	}
	.card-buttons {
		margin: 0;
	}
	.card-buttons .btn-main {
		margin-top: 20px;
	}
	.btn-main_like {
		width: 60px;
		flex: none !important;
		font-size: 0 !important;
	}
	.btn-main_like i {
		font-size: 16px;
		margin: 0 !important;
	}
	.card-buttons .btn-main {
		font-size: 16px;
		margin-left: 0;
		margin-right: 0;
	}
	.card-buttons .btn-main_quick {
		width: 100%;
		flex: none;
	}
	.slider-for__item {
		height: 460px;
	}
	.card-buttons .btn-main_quick {
		background-color: #282828;
		color: #fff;
	}
	.row_slider-page {
		margin-bottom: 40px;
	}
	.tabs__mob {
		display: block;
	}
	.tab-container .text-card {
		display: block;
	}
	.checkbox {
		font-size: 10px;
	}
	.pager + .bottom-link {
		margin-top: 35px;
		text-align: center;
	}
	.pager {
		margin-top: 40px;
	}
	.row_main .item-catalog__image {
		height: 245px;
	}
	.registration-wrap {
		max-width: 544px;
		margin: 0 auto;
	}
	.col_date {
		padding-top: 60px !important;
	}
	.checkbox_main {
		font-size: 9px;
	}
	.news-billbord {
		height: 640px;
		margin-bottom: 50px;
	}
	.text-middle {
		max-width: 508px;
	}
	.item-blog {
		padding-top: 30px;
		margin-top: 30px;
	}
	.item-blog .row {
		margin: 0 -15px;
	}
	.item-blog .row > div {
		padding: 0 15px;
	}
	.item-blog__image {
		height: 360px;
	}
	.item-blog__text {
		display: -webkit-box;
		-webkit-line-clamp: 11;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
	.news .pager {
		margin-top: 100px;
	}
	.row_big > div {
		padding: 0 15px;
	}
	.unit-article__image {
		height: 364px;
	}
	.phrase-article img {
		max-width: 79px;
	}
	.phrase-article__text {
		font-size: 9px;
		line-height: 10px;
		font-weight: 300;
		padding: 3px 4px;
		padding-bottom: 9px;

	}
	.phrase-article__text p:last-child {
		margin-bottom: 0;
	}
	.phrase-article__text p {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
	.unit-article {
		margin-bottom: 40px;
	}
	.news_article .text-middle {
		margin-bottom: 10px;
	}
	.phrase-article1_1 {
		top: 240px;
		left: 52px;
	}
	.phrase-article1_2 {
		bottom: 131px;
		right: 89px;
	}
	.phrase-article2_1 {
		top: 164px;
		left: 71px;
	}
	.phrase-article2_2 {
		top: 8px;
		right: 10px;
	}
	.phrase-article3_1 {
		bottom: 20px;
		left: 50px;
	}
	.phrase-article3_2 {
		top: 80px;
		right: 42px;
	}
	.phrase-article4_1 {
		bottom: 20px;
		left: 59px;
	}
	.phrase-article4_2 {
		top: 49px;
		left: 95px;
	}
	.phrase-article4_3 {
		top: 115px;
		right: 57px;
	}
	.phrase-article5_1 {
		top: 196px;
		left: 136px;
	}
	.phrase-article5_2 {
		top: 71px;
		right: 47px;
	}
	.phrase-article6_1 {
		bottom: 119px;
		left: 15px;
	}
	.phrase-article6_3 {
		top: 69px;
		right: 22px;
	}
	.phrase-article7_1 {
		top: 108px;
		left: 52px;
	}
	.phrase-article8_1 {
		top: 109px;
		right: 22px;
	}
	.search-modal .row_catalog {
		margin: 0 -8px;
	}
	.search-modal .row_catalog > div {
		padding: 0 8px;
	}
	.search-top__wrap {
		padding-right: 0;
	}
	.close-search {
		margin-left: 18px;
	}
	.search-modal {
		max-height: calc(100vh - 92px);
	}
	.empty-wrap {
		margin-top: 0;
	}
	.basket {
		padding-bottom: 67px;
	}
	.col_pl {
		padding-left: 15px;
	}
	.col_pr {
		padding-right: 15px;
	}
	.col-delivery {
		display: none;
	}
	.mobile-delivery {
		margin-bottom: 20px;
		display: block;
	}
	.letters-main {
		margin-top: 60px;
	}
	.brands .slider-brands {
		margin-top: 100px;
	}
	.brands {
		padding-bottom: 120px;
	}
	.letters-wrapper .list-letters {
		margin-left: 0;
	}
	.list-letters li {
		padding: 0 9px;
	}
	.breadcrumbs-wrap {
		margin-bottom: 30px;
	}
	.buyers {
		padding-bottom: 160px;
	}
	.buyers .title-section {
		margin-top: 0;
	}
}


@media only screen and (max-width : 767px) {

	.logo img {
		width: 66px;
	}
	.title-big {
		font-size: 18px;
		line-height: 27px;
	}
	.btn-main_page {
		height: 26px;
	}
	.btn-main_page {
		font-size: 10px;
		line-height: 12px;
		padding: 0 30px;
	}
	.title-big strong {
		font-size: 36px;
		line-height: 42px;
	}
	.slider-billbord .title-big {
		margin-bottom: 40px;
	}
	.slider-billbord__image {
		min-height: 360px;
		height: calc(100vh - 130px);
	}
	.title-section {
		font-size: 14px;
		line-height: 16px;
		padding-bottom: 6px;
	}
	.head-section {
		padding-top: 40px;
	}
	.head-section .link-page {
		font-size: 10px;
		line-height: 12px;
	}
	.row_category > div {
		padding: 0;
	}
	.col-main {
		padding: 0 8px;
	}
	.row_category,
	.row_catalog {
		margin: 0 -8px;
	}
	.item-catalog__image {
		height: 220px;
	}
	.wrap-sizes {
		opacity: 1;
	}
	.item-catalog .btn-like {
		opacity: 1;
	}
	.row_catalog .col-main:nth-child(n+3) {
		display: none;
	}
	.item-catalog {
		margin-bottom: 20px;
	}
	.catalog-page {
		padding-bottom: 35px;
	}

	.item-catalog-big__name {
		font-size: 36px;
		padding: 0 45px;
		line-height: 46px;
		margin-bottom: 34px;
	}
	.item-catalog-big__title {
		font-size: 18px;
		line-height: 22px;
	}
	.item-catalog-big {
		margin-bottom: 60px;
	}
	.catalog-category .row_category > div:nth-child(n+4) {
		display: block;
	}
	.catalog-category {
		padding-bottom: 60px;
	}
	.catalog-category + .article-page {
		margin-top: -30px;
	}
	.article-page {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.article-page__image {
		margin: 0 -15px;
		margin-bottom: 20px;
	}
	.title-page {
		font-size: 18px;
		line-height: 24px;
		padding-bottom: 6px;
	}
	.title-middle {
		font-size: 14px;
		line-height: 22px;
	}
	.article-page .title-middle {
		padding-bottom: 10px;
	}
	.text-page {
		font-size: 14px;
	}
	.article-page .text-page {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;  
		overflow: hidden;
		max-height: initial;
	}
	.article-page .bottom-link {
		padding-top: 40px;
	}
	.row_news > div:nth-child(2) {
		margin-bottom: 30px;
	}
	.news-page {
		margin-bottom: 40px;
	}
	.od_mob {
		order: -1;
	}
	.footer__nav {
		font-size: 13px;
	}
	.footer__contacts > div:nth-child(odd), 
	.footer__nav li:nth-child(odd) {
		width: 57%;
	}
	.footer__contacts > div:nth-child(even), 
	.footer__nav li:nth-child(even) {
		width: 43%;
	}
	.footer__contacts {
		display: flex;
		margin: 0 -5px;
		margin-top: 25px;
	}
	.footer__contacts > div {
		padding: 0 5px;
	}
	.footer {
		font-size: 13px;
	}
	.footer__nav li {
		margin-bottom: 6px;
	}
	.footer .title-min {
		text-align: left;
	}
	.footer .btn-main {
		font-size: 12px;
		padding: 0 23px;
		width: 100%;
	}
	.footer .item-form {
		margin-right: -15px;
	}
	.footer form {
		margin-top: 15px;
	}
	.footer__bottom .row > div {
		padding-bottom: 5px;
	}
	.footer__bottom .row > div:nth-last-child(2) {
		order: -1;
	}
	.footer__bottom .row > div:nth-last-child(1) {
		order: -2;
	}
	.footer__bottom .row > div:nth-child(2) {
		order: 2;
	}
	.center__footer .list-payments {
		display: none;
	}
	.footer__bottom {
		font-size: 8px;
	}
	.footer .list-payments {
		justify-content: center;
	}
	.item-catalog-big__content img {
		max-width: 230px;
	}
	.item-catalog-big__content {
		padding-top: 47px;
	}
	.row_catalog .col-main {
		display: block !important;
	}
	.row_slider .slick-track > div {
		padding: 0 8px;
	}
	.row_category {
		margin: 0 -4px;
	}
	.slick-dots li button:before,
	.slick-dots li.slick-active button:before {
		display: none;
	}
	.row_slider {
		padding-bottom: 20px;
	}
	.row_slider .slick-dots li button {
		background-color: #fff;
		border-color: #464645;
	}
	.row_slider .slick-dots li.slick-active button {
		background-color: #464645;
	}
	.row_slider .slick-dots {
		bottom: 8px;
	}
	.btn-like {
		background-color: transparent !important;
	}
	.item-catalog .btn-like {
		top: 4px;
		right: 4px;
	}
	.sidebar-catalog {
		max-width: 100%;
		display: none;
	}
	.row_main {
		margin: 0 -7px;
	}
	.row_main > div {
		padding: 0 7px;
	}
	.col_pl {
		padding-left: 15px;
	}
	.breadcrumb {
		font-size: 13px;
	}
	.row_main .item-catalog {
		font-size: 12px;
		line-height: 14px;
	}
	.catalog-page .bottom-link {
		text-align: center;
	}
	.header__top {
		font-size: 12px;
	}
	.card .breadcrumb {
		padding: 9px 0;
		font-size: 10px;
	}
	.slider-for__item {
		height: 420px;
	}
	.slider-for {
		padding-bottom: 13px;
	}
	.card-buttons .btn-main {
		margin-top: 15px;
		height: 44px;
	}
	.btn-main_like {
		width: 50px;
	}
	.tabs {
		display: none;
	}
	.tab-pane {
		display: block !important;
	}
	.tab-container {
		text-align: left;
	}
	.tab-pane__title {
		text-transform: uppercase;
		padding: 15px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.tab-pane__content {
		display: none;
	}
	.arrow-pane {
		width: 14px;
		height: 14px;
		background-image: url(../img/plus.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	.tab-pane__title.active .arrow-pane {
		background-image: url(../img/minus.svg);
	}
	.tab-pane:first-child .tab-pane__content {
		display: block;
	}
	.tab-container {
		margin-top: 25px;
		border-top: 1px solid #E1E1E1; 
	}
	.row_slider-page {
		margin-bottom: 30px;
	}
	.card ~ .catalog-page .head-section {
		padding-top: 10px;
	}
	.item-color__circle::before {
		top: 0;
	}
	.wrapper {
		padding-top: 90px;
	}
	.descr-card {
		font-size: 10px;
	}
	.card__descr {
		padding-right: 0;
	}
	.card__prices {
		height: initial;
	}
	.sizes-info {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 0;
		border: 1px solid #E1E1E1;
		margin-top: 10px;
	}
	.card .bottom-link .link-page_gray {
		font-size: 10px;
	}
	.title-countdown {
		font-size: 16px;
		line-height: 20px;
	}
	.countdown {
		margin-top: 15px;
	}
	.sizes-info_empty {
		margin-bottom: 20px;
	}
	.wrapper_inputs {
		padding: 20px;
	}
	.tags-catalog {
		display: none;
	}
	.sidebar-open {
		padding: 15px;
		margin: 0 -15px;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		cursor: pointer;
		border-bottom: 1px solid #CBCBCB;
		text-transform: uppercase;
		color: #807F7D;
	}
	.breadcrumbs-wrap {
		margin-bottom: 0;
	}
	.catalog-page .row_main {
		padding-top: 43px;
	}
	.sidebar-catalog {
		margin-top: 0;
	}
	.checkboxes-wrap {
		columns: 2; 
	}
	.item-input {
		margin-bottom: 40px;
	}
	.form-personal__bottom .btn-main_right {
		width: 70%;
		margin: 0 auto;
		padding-left: 10px;
		padding-right: 10px;
	}
	.input-pretel ~ .item-input__placeholder {
		font-size: 14px !important;
	}
	.form-personal .item-input__placeholder {
		font-size: 14px;
	}
	.tabs-main {
		flex-direction: column;
		align-items: flex-start;
	}
	.tabs-main a {
		margin: 0;
		padding: 12px 10px;
		color: #000000;
		font-size: 12px;
		display: block;
		text-align: left;
		border-bottom: 1px solid #CBCBCB !important;
	}
	.tabs-main li {
		width: 100%;
		display: none;
	}
	.tabs-main .active a {
		background-color: #F5F5F5;
	}
	.tabs-main .active {
		order: -1;
		display: block;
	}
	.tab-container-main {
		padding-top: 30px;
	}
	.tab-container-main .title-section {
		padding-bottom: 20px;
	}
	.tab-container-main {
		position: relative;
	}
	.tab-main-btn {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 42px;
		z-index: 2;
	}
	.tab-main-btn::after,
	.tab-main-btn::before {
		position: absolute;
		display: block;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(../img/arrow_tab1.svg);
		background-repeat: no-repeat;
		background-position: right 15px center;
	}
	.tab-main-btn::after {
		background-image: url(../img/arrow_tab2.svg);
		opacity: 0;
	}
	.tab-main-btn.active::after {
		opacity: 1;
	}
	.tab-main-btn.active::before {
		opacity: 0;
	} 
	.tabs-main-wrap {
		position: relative;
		margin: 0 -15px;
	}
	.order-history__head .row,
	.history-head .row {
		margin: 0 -5px;
	}
	.order-history__head .row > div,
	.history-head .row > div {
		padding: 0 5px;
	}
	.order-history__head .row > div:nth-child(1),
	.history-head .row > div:nth-child(1) {
		width: 19%;
	}
	.order-history__head .row > div:nth-child(2),
	.history-head .row > div:nth-child(2) {
		width: 28%;
	}
	.order-history__head .row > div:nth-child(3),
	.history-head .row > div:nth-child(3) {
		width: 27%;
	}
	.order-history__head .row > div:nth-child(4),
	.history-head .row > div:nth-child(4) {
		width: 20%;
	}
	.history-head .row > div:nth-child(5) {
		width: 0%;
		padding: 0;
	}
	.order-history__head .row > div:nth-child(5) {
		width: 6%;
		padding: 0;
	}
	.history-head {
		font-size: 10px;
	}
	.history-head span {
		display: none;
	}
	.order-history__head {
		font-size: 10px;
	}
	.arrow-history {
		margin-left: -3px;
		background-image: url(../img/arrow_tab1.svg);
	}
	.table-order tr,
	.table-order td,
	.table-order th,
	.table-order thead,
	.table-order tbody,
	.table-order table {
		display: block;
	}
	.order-history__content table th {
		display: none;
		border: none;
	}
	.order-history__content table th:nth-child(2) {
		display: block;
		padding-left: 15px;
		padding-bottom: 0;
		font-size: 12px;
	}
	.table-order table {
		font-size: 12px;
		line-height: 19px;
	}
	.table-order table td {
		border: none;
	}
	.table-order table tr {
		padding-top: 10px;
		margin-bottom: 10px;
		padding-left: 125px;
		border-top: 1px solid #C4C4C4;
		position: relative;
	}
	.table-order table td:nth-child(1) {
		position: absolute;
		top: 10px;
		left: 0;
	}
	.info-td {
		min-height: initial;
	}
	.table-order table td {
		padding: 0;
		padding-right: 10px;
	}
	.history-orders {
		margin: 0 -15px;
		border-left: none;
		border-right: none;
	}
	.table-order table thead tr {
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.table-order table td::before {
		margin-right: 4px;
		content: attr(data-title);
	}
	.table-order table strong {
		font-weight: 400; 
	}
	.table-order table td:last-child {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.descr-td {
		order: -1;
	}
	.title-td {
		order: -2;
	}
	.table-order table td:nth-child(2)::before,
	.table-order table td:nth-child(1)::before {
		display: none;
	}
	.history-orders-descr {
		text-align: center;
	}
	.personal {
		padding-bottom: 95px;
	}
	.table-order_basket table th {
		display: none;
	}
	.table-order_basket table th::before {
		margin-right: 4px;
		content: attr(data-title);
	}
	.table-order_basket table th:first-child {
		padding-right: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.table-order_basket table th:nth-child(2) {
		padding-bottom: 0;
		display: block;
		padding-left: 10px;
		text-transform: none;
		background-color: #fff;
	}
	.table-order_basket table thead tr {
		border: none;
	}
	.table-order_basket {
		margin: 0 -15px;
	}
	.table-order_basket table th:nth-child(2)::before {
		display: none;
	}
	.table-order table td {
		position: static;
	}
	.table-order_basket table td:last-child {
		align-items: flex-end;
	}
	.table-order_basket .price-old {
		margin-top: -23px;
	}
	.bottom-basket .form-line .btn-main {
		padding: 0 20px;
	}
	.form-line .item-input {
		margin-bottom: 20px;
	}
	.bottom-basket__button {
		text-align: center;
	}
	.bottom-basket__button .btn-main {
		width: 100%;
	}
	.wrap-bottom-basket {
		margin-top: 30px;
		justify-content: center;
	}
	.hidden-mob {
		display: none;
	}
	.table-order .quantity input {
		font-size: 12px;
		width: 20px;
	}
	.table-order .quantity .quantity-button {
		font-size: 14px;
	}
	.authorization-links {
		margin-top: 50px;
	}
	.social-authorization__title {
		font-size: 13px;
	}
	.social-authorization {
		padding-top: 39px;
	}
	.authorization-wrap_login {
		margin: 0 -15px;
		margin-top: 44px;
		padding: 20px 15px;
		padding-bottom: 90px;
		max-width: initial;
	}
	.authorization-wrap .item-input__placeholder {
		font-size: 16px;
	}
	.buttons-authorization .btn-main {
		width: 46%;
	}
	.registration-wrap {
		padding-top: 34px;
	}
	.registration-wrap .title-authorization {
		padding-bottom: 33px;
	}
	.title-block_hiddenmob {
		display: none;
	}
	.title-block {
		font-size: 14px;
		line-height: 17px;
	}
	.registration-wrap .title-block {
		text-align: center;
	}
	.col_date {
		padding-top: 40px !important;
	}
	.registration-wrap .descr-input {
		font-size: 8px;
	}
	.social-register {
		margin-bottom: 20px;
		display: block;
	}
	.social-register .title-block {
		padding-bottom: 13px;
	}
	.registration-wrap .form-personal__bottom {
		flex-direction: column-reverse;
	}
	.agreement-main {
		margin: 0 auto;
		margin-bottom: 23px;
	}
	.checkbox_main label > span:after {
		top: 7px;
		left: 3px;
		width: 10px;
		height: 10px;
		background-image: none;
		background-color: #282828;
	}
	.registration-wrap .form-personal__bottom .btn-main {
		min-width: 250px;
	}
	.registration-wrap .form-personal__bottom .btn-main ~ .btn-main {
		margin-top: 30px;
		order: -1;
	}
	.news-billbord {
		height: 515px;
	}
	.title-section_desctop {
		display: none;
	}
	.news-billbord {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.news .breadcrumbs-wrap {
		margin-bottom: 0;
	}
	.title-section_mobile {
		display: block;
		margin-bottom: 20px;
	}
	.item-blog__left {
		padding: 0 35px !important;
		order: 2;
	}
	.item-blog__image {
		height: 355px;
		margin: 0 -5px;
		margin-bottom: 30px;
	}
	.item-blog .title-section {
		padding-bottom: 30px;
	}
	.item-blog__text {
		-webkit-line-clamp: 10;
	}
	.item-blog .bottom-link {
		padding-top: 20px;
	}
	.news .breadcrumb {
		font-size: 9px;
	}
	.news_article .title-section {
		padding: 15px 0;
	}
	.news .text-middle {
		padding-left: 25px;
		padding-right: 25px;
	}
	.unit-article_desctop {
		display: none;
	}
	.col_mobile {
		display: block;
	}
	.text-middle_desctop {
		display: none;
	}
	.row_big > div.col_mobile {
		padding: 0 25px;
	}
	.history-search {
		padding-bottom: 40px;
		display: block;
	}
	.history-search__title {
		margin: 0;
		padding-bottom: 15px;
	}
	.history-search__content {
		padding-left: 10px;
	}
	.history-search__content li {
		margin-bottom: 12px;
	}
	.clear-sidebar-mobile {
		padding-top: 10px;
		display: block;
		text-align: center;
	}
	.catalog-page_search .row_main {
		padding-top: 23px;
	}
	.clear-sidebar {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		color: #807F7D;
		border-bottom: 1px solid #807F7D;
		text-transform: lowercase;
		transition: all 0.3s;
	}
	.clear-sidebar:hover {
		color: #000;
		border-color: #000;
	}
	.menu-dropdown__right {
		display: none;
	}
	.mobile-units {
		padding: 0 19px;
		margin-top: 15px;
		display: block;
	}
	.unit-dropdown__image {
		height: 200px;
	}
	.mobile-units .row {
		margin: 0 -12px;
	}
	.mobile-units .row > div {
		padding: 0 12px;
	}
	.content-dropdown {
		padding-bottom: 20px;
	}
	.footer__bottom {
		margin-top: 45px;
	}
	.fancybox-wrap:not(.fancybox-type-image) {
		left: 0 !important;
		width: 100% !important;
	}
	.fancybox-wrap:not(.fancybox-type-image) .fancybox-inner {
		width: 100% !important;
	}
	.unit-basket .descr-td {
		order: initial;
	}
	.unit-basket tfoot td:last-child, .unit-basket table td.td-price {
		padding-right: 15px;
	}
	.unit-basket .remove-tr {
		top: 8px;
		right: 10px;
	}
	.modal-bottom {
		padding: 30px 15px;
	}
	.modal-bottom .item-input {
		margin-bottom: 30px;
	}
	.detail-form {
		padding-top: 20px;
	}
	.modal-quick .unit-basket table td:nth-child(1) {
		padding-left: 10px;
		width: 125px;
	}
	.modal-quick .unit-basket table th {
		padding-left: 10px;
	}
	.basket .title-section {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.table-order_basket {
		border-left: none;
		border-right: none;
	}
	.basket .wrap-bottom-basket {
		padding-top: 0;
	}
	.basket {
		padding-bottom: 60px;
	}
	.empty-wrap img {
		max-width: 100px;
	}
	.empty-wrap .title-section {
		padding-bottom: 80px;
	}
	.empty-wrap {
		margin-top: 40px;
	}
	.bottom-basket .form-line .btn-main {
		flex: 1;
	}
	.row_bottom-basket .col_pl {
		order: -1;
	}
	.basket_ordering .bottom-basket__button .btn-main {
		display: none;
	}
	.ordering-form .btn-main.show-mob {
		margin-top: 20px;
	}
	.basket .title-section.show-mob {
		padding-top: 0;
	}
	.footer__top {
		padding-top: 30px;
	}
	.letters-wrapper {
		padding: 15px 0;
		margin-top: 0;
	}
	.letters-wrapper .list-letters {
		margin-left: 0;
	}
	.list-letters {
		font-size: 10px;
		justify-content: space-between;
	}
	.list-letters li {
		padding: 0;
	}
	.letters-main {
		margin-top: 40px;
		columns: 1;
	}
	.letter-title {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 7px;
	}
	.list-words {
		font-size: 12px;
		line-height: 14px;
	}
	.list-words li {
		margin-left: 0;
	}
	.brands .slider-brands {
		margin-top: 20px;
	}
	.slider-brands .slick-arrow svg {
		max-width: 10px;
	}
	.slider-brands .slick-prev {
		left: 0;
	}
	.slider-brands .slick-next {
		right: 0;
	}
	.slider-brands {
		padding: 0 25px;
	}
	.brands {
		padding-bottom: 100px;
	}
	.top-brand-catalog {
		padding-top: 30px;
		padding-bottom: 0;
	}
	.header__top {
		font-size: 10px;
		line-height: 12px;
	}
	.wrapper {
		padding-top: 65px;
	}
	.logo-about img {
		width: 140px;
	}
	.logo-about {
		padding-top: 22px;
	}
	.about-article .text-middle {
		padding-left: 15px;
		padding-right: 15px;
	}
	.slider-photos {
		padding-bottom: 30px;
	}
	.slider-photos {
		margin-bottom: 25px;
	}
	.about-article hr {
		margin-bottom: 30px;
	}
	.about-article {
		padding-bottom: 30px;
	}
	.contacts .title-section {
		padding-top: 30px;
		padding-bottom: 25px;
	}
	.contacts {
		padding-bottom: 60px;
	}
	.contact-form {
		padding: 0px;
	}
	.contact-form .row_big {
		margin: 0 -7px;
	}
	.contact-form .row_big > div {
		padding: 0 7px;
	}
	.contact-form .btn-main {
		min-width: 200px;
	}
	.map-main {
		height: 355px;
		margin-top: 15px;
	}
	.text-contact {
		font-size: 14px;
	}
	.contacts .title-form {
		padding-top: 20px;
	}
	.error-page .title-section {
		padding-bottom: 80px;
	}
	.error-block__value {
		font-size: 82px;
		line-height: 85px;
	}
	.error-block__title {
		font-size: 32px;
		line-height: 37px;
	}
	.error-block {
		padding: 40px 50px;
		padding-bottom: 44px;
		min-height: 220px;
	}
	.error-buttons {
		flex-direction: column-reverse;
	}
	.error-buttons .btn-main {
		margin-bottom: 20px;
	}
	.error-page {
		padding-bottom: 50px;
	}
	.row-map {
		display: block;
	}
	.head-map {
		font-size: 16px;
		line-height: 24px;
	}
	.head-map::after,
	.head-map::before {
		position: absolute;
		display: block;
		content: " ";
		width: 1000vw;
		height: 1px;
		top: 0;
		right: -100vw;
		background-color: #E1E1E1;
	}
	.head-map::after {
		bottom: 0;
		top: auto;
	}
	.map-page {
		padding-bottom: 60px;
	}
	.item-question__head {
		font-size: 14px;
		padding: 20px 0;
	}
	.modal-size {
		padding: 25px 10px;
		padding-bottom: 30px;
	}
	.image-size {
		margin-bottom: 35px;
	}
	.table-size table {
		font-size: 10px;
	}
	.table-size table td:first-child {
		font-size: 11px;
	}
	.table-size table th {
		font-size: 10px;
	}
	.text-big {
		font-size: 14px;
		line-height: 27px;
	}
	.row_letters {
		margin-top: 44px;
	}
	.row_letters > div:nth-child(3n+1) {
		order: -4;
	}
	.row_letters > div:nth-child(3n+2) {
		order: -3;
	}
	.authorization .title-authorization {
		padding-top: 34px;
		padding-bottom: 33px;
		font-size: 14px;
line-height: 17px;
	}
	.registration-wrap .title-authorization {
		padding-top: 0;
	}
	.authorization-wrap .title-authorization {
		padding-top: 0;
	}
	.authorization-links {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 65px;
}
.slider-for__item {
	height: auto;
}
.slider-for__item img {
	    width: 100%;
    height: auto;
    object-fit: inherit;
    font-family: inherit;
}

}
/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {
	.col-main {
		width: 50%; 
	}
	.header__wrap .logo {
		position: relative;
		left: -5px;
	} 
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.wrap-sizes {
		font-size: 10px;
		line-height: 16px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 767px) {
	.sidebar-open,
	.show-mob {
		display: none !important;
	}
	.tabs-main li,
	.sidebar-catalog,
	.tab-pane__content {
		display: block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
		max-width: 1250px;
	}
	.hidden-desc {
		display: none !important;
	}
	.menu-mobile {
		display: none !important;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1250px;
	}
}